@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(../imagenes/fondoWEB.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(10, 8, 7, 0.616);
}

nav {
    background-color: transparent;
}

.container {
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    align-items: center;
  }
  
  .content {
    width: 50%;
    padding: 20px;
    
  }

  h1 {
    font-size: 3rem;
    color: #f7a7a7; /* Gris oscuro para contraste */
    font-family: 'Montserrat', sans-serif; /* Elige una fuente legible */
  }
  
  h3 {
    font-size: 1.8rem;
    color: #fd8c8c; /* Gris más claro */
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffeeee;
    text-align: justify; /* Justifica el texto para un aspecto más limpio */
  }

  button {
    padding: 15px 40px;
    margin: 2rem auto;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #e2b511;
    font-weight: 600;
    transition: transform 100ms linear;
    
  }

  button:hover {
    background-color: #ebbc15;
    transform: scale(1.02);
}





